
.social-btn {
    display: relative;
    margin:25px;
    background-color: lightgrey;
    border:3px solid grey;
    text-align:center;
    vertical-align: middle;
    font-family: Verdana;
    font-size:23px;
    padding:2px;
    font-weight: bold;
    font:white;
    text-decoration:none;
}